<h1>TODOS</h1>

Our site has <%= Todo.public_count %> todos and counting!

<ul style="list-style: none; padding: 0; display: flex; flex-direction: column; gap: 16px;">
  <% @todos.each do |todo| %>
    <% unless todo.archived? %>
      <li style="display: flex; flex-direction: column; gap: 8px; border: 1px solid #999; border-radius: 4px; padding: 10px;">
        <div style="font-weight: bold;">
          <%= link_to todo.title, todo %>
        </div>
        <div>
          <%= todo.description %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>

<%= link_to "New Todo", new_todo_path %>

