<div class="text-sm text-gray-800 py-4">
  <h2 class="text-lg">TODOS</h2>

  <div class="flex justify-between">
  <div>Count <%= Todo.public_count %></div> 
    <div class="font-bold underline text-indigo-800 hover:text-indigo-700">
    <%= link_to "New Todo", new_todo_path %>
    </div>
  </div>
</div>

<ul class="flex flex-col gap-8">
  <% @todos.each do |todo| %>
    <% unless todo.archived? %>
      <li class="border border-gray-300 rounded p-4">
        <div class="font-bold underline text-indigo-800 hover:text-indigo-700">
          <%= link_to todo.title, todo %>
        </div>
        <div class="pt-4">
          <%= todo.description %>
        </div>
      </li>
    <% end %>
  <% end %>
</ul>


